body{
    font-family: sans-serif;
    background-image : linear-gradient(#3a6596, rgba(185, 187, 48, 0.692));
}
.c1{
    margin: 10px 350px;
    background-image: linear-gradient(rgb(173, 34, 185),rgb(184, 172, 194)) ;
}
header{
    text-align: center;
    letter-spacing: 1px;
    padding: 20px 50px;
    font-size: 20px;
    font-weight: 550;
}
main{
  margin: 20px 51px 30px 51px;
}
article.c3{
    display: inline-block;
    text-align: left;
}
.c4{
    text-align: center;
    padding-bottom: 30px;
}
div.c2{
    padding: 30px;
    border: 1px solid #000;
    border-radius : 7px;
    background-color: #000;
    font-size: 45px;
    color: #ffc050
}