body{
    font-family: sans-serif;
    background-image : linear-gradient(#3a6596, rgba(185, 187, 48, 0.692));
}
html{
    font-size: 62.5%;
}
.c1{
    margin: 1rem 35rem;
    background-image: linear-gradient(rgb(173, 34, 185),rgb(184, 172, 194)) ;
}
header{
    text-align: center;
    letter-spacing: .1rem;
    padding: 2rem 5rem;
    font-size: 2rem;
    font-weight: 550;
}
main{
    line-height: 1.7;
  margin: 2rem 5.1rem 3rem 5.1rem;
}
article.c3{
    display: inline-block;
    text-align: left;
    flex: 1 1 200px;
    margin-right: .7rem;
}
.c4{
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: 3rem;
    
}
div.c2{
    padding: 3rem;
    border: .1rem solid #000;
    border-radius : .7rem;
    background-color: #000;
    font-size: 4.5rem;
    color: #ffc050
}
@media(max-width:998px){
    html{
        font-size: 55%;
    }
}

@media(max-width:750px){
    html{
        font-size: 45%;
    }
}
